---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

components:
- ../../components/alerts

resources:
- ./namespace.yaml
- ./cilium/ks.yaml
- ./coredns/ks.yaml
- ./reloader/ks.yaml
- ./metrics-server/ks.yaml
- ./csi-driver-nfs/ks.yaml
