# .taskfiles/Ansible/Taskfile.yaml
---
version: "3"

tasks:
  init:
    desc: Initialize ansible dependencies
    cmds:
    - ansible-galaxy install -r requirements.yaml --force

  nuke:
    desc: "Nuclear option: destroy cluster"
    cmds:
    - |
      if gum confirm "confirm cluster nuke ?!" --negative "No" --default; then
         ansible-playbook playbooks/nuke.yaml
      fi

  reboot:
    desc: Reboot cluster
    cmds:
    - |
      if gum confirm "confirm cluster reboot ?" --negative "No"; then
         ansible all -a '/usr/bin/systemctl reboot' --become
      fi

  poweroff:
    desc: Poweroff cluster
    cmds:
    - |
      if gum confirm "confirm cluster shutdown ?" --negative "No"; then
         ansible all -a '/usr/bin/systemctl poweroff' --become
      fi

  ping:
    desc: Test connectivity
    cmds:
    - ansible all -m 'ping'

  status:
    desc: Show cluster status
    cmds:
    - echo "=== CONNECTIVITY ==="
    - ansible all -m 'ping' --one-line
    - echo "=== UPTIME ==="
    - ansible all --one-line -a 'uptime'
    - echo "=== DISK SPACE ==="
    - ansible all --one-line -a 'df -h /'
