# yaml-language-server: $schema=https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/helm/clickhouse-operator/crds/CustomResourceDefinition-clickhouseinstallations.clickhouse.altinity.com.yaml
---
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: clickhouse-cluster
  namespace: database
spec:
  templates:
    podTemplates:
    - name: pod-template
      spec:
        containers:
        - name: clickhouse
          image: clickhouse/clickhouse-server:25.10
          resources:
            requests:
              cpu: 100m
              memory: 2Gi
            limits:
              memory: 4Gi
          securityContext:
            runAsUser: 101
            runAsGroup: 101
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]
          env:
          - name: CLICKHOUSE_DB
            value: default
          - name: CLICKHOUSE_USER
            value: clickhouse
          - name: CLICKHOUSE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: clickhouse-admin-password
                key: CLICKHOUSE_PASSWORD
          volumeMounts:
          - name: clickhouse-tls
            mountPath: /etc/clickhouse-server/tls
            readOnly: true
          - name: clickhouse-config-logger
            mountPath: /etc/clickhouse-server/config.d/logger.xml
            subPath: logger.xml
            readOnly: true
          - name: clickhouse-config-path
            mountPath: /etc/clickhouse-server/config.d/path.xml
            subPath: path.xml
            readOnly: true
          - name: clickhouse-config-server
            mountPath: /etc/clickhouse-server/config.d/server.xml
            subPath: server.xml
            readOnly: true
          - name: clickhouse-config-users
            mountPath: /etc/clickhouse-server/config.d/users.xml
            subPath: users.xml
            readOnly: true
        securityContext:
          runAsUser: 101
          runAsGroup: 101
          fsGroup: 101
          fsGroupChangePolicy: OnRootMismatch
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    clickhouse.altinity.com/chi: clickhouse-cluster
                topologyKey: kubernetes.io/hostname
        volumes:
        - name: clickhouse-tls
          secret:
            secretName: timcasa-me-tls
        - name: clickhouse-config-logger
          configMap:
            name: clickhouse-config-logger
        - name: clickhouse-config-path
          configMap:
            name: clickhouse-config-path
        - name: clickhouse-config-server
          configMap:
            name: clickhouse-config-server
        - name: clickhouse-config-users
          configMap:
            name: clickhouse-config-users
    serviceTemplates:
    - name: clickhouse-service
      spec:
        ports:
        - name: http
          port: 8123
        - name: tcp
          port: 9000
        type: ClusterIP
    volumeClaimTemplates:
    - name: clickhouse-data
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 20Gi
        storageClassName: nfs
  configuration:
    clusters:
    - name: main
      layout:
        shardsCount: 1
        replicasCount: 1
      templates:
        podTemplate: pod-template
        serviceTemplate: clickhouse-service
        volumeClaimTemplate: clickhouse-data
