# yaml-language-server: $schema=https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/helm/clickhouse-operator/crds/CustomResourceDefinition-clickhouseinstallations.clickhouse.altinity.com.yaml
---
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: clickhouse-cluster
  namespace: database
spec:
  configuration:
    clusters:
    - layout:
        shardsCount: 1
        replicasCount: 1
      templates:
        podTemplate: pod-template
  templates:
    volumeClaimTemplates:
    - spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 20Gi
        storageClassName: longhorn
    serviceTemplates:
    - spec:
        ports:
        - name: http
          port: 8123
        - name: tcp
          port: 9000
        type: ClusterIP
    podTemplates:
    - name: pod-template
      spec:
        containers:
        - name: clickhouse
          image: clickhouse/clickhouse-server:25.10
          resources:
            requests:
              cpu: 100m
              memory: 2Gi
            limits:
              memory: 4Gi
          securityContext:
            runAsUser: 101
            runAsGroup: 101
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ "ALL" ]
          env:
          - name: CLICKHOUSE_DB
            value: default
          - name: CLICKHOUSE_USER
            value: clickhouse
          - name: CLICKHOUSE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: clickhouse-admin-password
                key: CLICKHOUSE_PASSWORD
          volumeMounts:
          - name: config-d-logger
            mountPath: /etc/clickhouse-server/config.d/logger.xml
            subPath: config.d-logger.xml
          - name: config-d-path
            mountPath: /etc/clickhouse-server/config.d/path.xml
            subPath: config.d-path.xml
          - name: config-d-server
            mountPath: /etc/clickhouse-server/config.d/server.xml
            subPath: config.d-server.xml
          - name: users-d-clickhouse
            mountPath: /etc/clickhouse-server/users.d/clickhouse.xml
            subPath: users.d-clickhouse.xml
        securityContext:
          runAsUser: 101
          runAsGroup: 101
          fsGroup: 101
          fsGroupChangePolicy: OnRootMismatch
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    clickhouse.altinity.com/chi: clickhouse-cluster
                topologyKey: kubernetes.io/hostname
        volumes:
        - name: config-d-logger
          configMap:
            name: clickhouse-config-d-logger
        - name: config-d-path
          configMap:
            name: clickhouse-config-d-path
        - name: config-d-server
          configMap:
            name: clickhouse-config-d-server
        - name: users-d-clickhouse
          configMap:
            name: clickhouse-users-d-clickhouse
