# yaml-language-server: $schema=https://raw.githubusercontent.com/Altinity/clickhouse-operator/master/deploy/helm/clickhouse-operator/crds/CustomResourceDefinition-clickhouseinstallations.clickhouse.altinity.com.yaml
---
apiVersion: clickhouse.altinity.com/v1
kind: ClickHouseInstallation
metadata:
  name: clickhouse-cluster
  namespace: database
spec:
  configuration:
    clusters:
    - name: main
      layout:
        shardsCount: 1
        replicasCount: 1
      templates:
        podTemplate: pod-template
    files:
      config.d/logger.xml: |
        <?xml version="1.0"?>
        <yandex>
          <logger>
            <level>information</level>
            <log>/var/log/clickhouse-server/clickhouse-server.log</log>
            <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
            <size>1000M</size>
            <count>10</count>
          </logger>
        </yandex>
      config.d/path.xml: |
        <?xml version="1.0"?>
        <yandex>
          <path>/var/lib/clickhouse/</path>
        </yandex>
      config.d/server.xml: |
        <?xml version="1.0"?>
        <yandex>
          <tcp_port>9000</tcp_port>
          <http_port>8123</http_port>
        </yandex>
      users.d/clickhouse.xml: |
        <?xml version="1.0"?>
        <yandex>
          <users>
            <clickhouse>
              <password from_env="CLICKHOUSE_PASSWORD" />
              <profile>default</profile>
              <quota>default</quota>
              <access_management>1</access_management>
            </clickhouse>
          </users>
        </yandex>
      templates:
        volumeClaimTemplates:
        - spec:
            name: clickhouse-data
            accessModes:
            - ReadWriteOnce
            resources:
              requests:
                storage: 20Gi
            storageClassName: longhorn
        serviceTemplates:
        - spec:
            name: clickhouse-service
            ports:
            - name: http
              port: 8123
            - name: tcp
              port: 9000
            type: ClusterIP
        podTemplates:
        - name: pod-template
          spec:
            containers:
            - name: clickhouse
              image: clickhouse/clickhouse-server:25.10
              resources:
                requests:
                  cpu: 100m
                  memory: 2Gi
                limits:
                  memory: 4Gi
              securityContext:
                runAsUser: 101
                runAsGroup: 101
                runAsNonRoot: true
                allowPrivilegeEscalation: false
                capabilities:
                  drop: [ "ALL" ]
              env:
              - name: CLICKHOUSE_DB
                value: default
              - name: CLICKHOUSE_USER
                value: clickhouse
              - name: CLICKHOUSE_PASSWORD
                valueFrom:
                  secretKeyRef:
                    name: clickhouse-admin-password
                    key: CLICKHOUSE_PASSWORD
            securityContext:
              runAsUser: 101
              runAsGroup: 101
              fsGroup: 101
              fsGroupChangePolicy: OnRootMismatch
            affinity:
              podAntiAffinity:
                preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  podAffinityTerm:
                    labelSelector:
                      matchLabels:
                        clickhouse.altinity.com/chi: clickhouse-cluster
                    topologyKey: kubernetes.io/hostname
