---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  interval: 1h
  values:
    storageClass:
      create: true
      name: nfs
      parameters:
        server: 192.168.1.7
        share: /mnt/oasis/Kubernetes
      mountOptions:
      - nfsvers=4.2
      - nconnect=16
      - hard
      - noatime
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
