---
- name: Install iptables packages
  ansible.builtin.package:
    name:
    - iptables
    - iptables-persistent
    - netfilter-persistent
    state: present

- name: Flush existing firewall
  ansible.builtin.iptables:
    flush: true

- name: Remove any obsolete scripts used by an old version of the role
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
  - /etc/network/if-post-down.d/iptables-v4
  - /etc/network/if-pre-up.d/iptables-v4
  - /etc/iptables.v4.saved

- name: Rule to allow all loopback traffic
  ansible.builtin.iptables:
    action: append
    chain: INPUT
    in_interface: lo
    jump: ACCEPT

- name: Rule to allow established connections
  ansible.builtin.iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    jump: ACCEPT

- name: Rule to allow port ping traffic
  ansible.builtin.iptables:
    chain: INPUT
    jump: ACCEPT
    protocol: icmp

- name: Save rules (netfilter-persistent)
  ansible.builtin.command: netfilter-persistent save
  changed_when: true

- name: Validate iptables rules
  ansible.builtin.command: iptables -L
  register: os_iptables_rules
  changed_when: false
  check_mode: false
