---
- name: Ensure /sys/fs/bpf is mounted
  ansible.posix.mount:
    path: /sys/fs/bpf
    src: bpf
    fstype: bpf
    state: mounted
  become: true

- name: Create kernel modules load files
  ansible.builtin.copy:
    dest: "/etc/modules-load.d/{{ item }}.conf"
    mode: "0644"
    content: "{{ item }}"
  loop:
  - br_netfilter
  - vxlan
  - nf_conntrack
  - iscsi_tcp

- name: Ensure iscsi_tcp module is loaded before iscsid
  ansible.builtin.command:
    cmd: modprobe iscsi_tcp
  changed_when: false

  notify:
  - Reboot
