---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-instance
spec:
  chartRef:
    kind: OCIRepository
    name: flux-instance
  interval: 1h
  values:
    instance:
      distribution:
        artifact: oci://ghcr.io/controlplaneio-fluxcd/flux-operator-manifests:v0.33.0
        version: 2.x
      cluster:
        networkPolicy: false
      components:
      - source-controller
      - kustomize-controller
      - helm-controller
      - notification-controller
      sync:
        kind: GitRepository
        url: https://github.com/spike442/homelab
        ref: refs/heads/main
        path: kubernetes/flux/cluster
        interval: 1h
      kustomize:
        patches:
        # Enable Helm repositories caching
        - patch: |-
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --helm-cache-max-size=10
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --helm-cache-ttl=60m
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --helm-cache-purge-interval=5m
          target:
            kind: Deployment
            name: source-controller
        # Cache Secrets and ConfigMaps
        - patch: |-
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --feature-gates=CacheSecretsAndConfigMaps=true
          target:
            kind: Deployment
            name: source-controller
        # Flux near OOM detection for Helm
        - patch: |-
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --feature-gates=OOMWatch=true
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --oom-watch-memory-threshold=95
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --oom-watch-interval=500ms
          target:
            kind: Deployment
            name: helm-controller
        # Disable chart digest tracking
        - patch: |-
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --feature-gates=DisableChartDigestTracking=true
          target:
            kind: Deployment
            name: helm-controller
        # Watch configmaps and secrets attached to HelmReleases and Kustomizations
        - patch: |-
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --watch-configs-label-selector=owner!=helm
          target:
            kind: Deployment
            name: (helm-controller|kustomize-controller)
        # Cancel health checks on new Kustomizations revisions
        - patch: |-
            - op: add
              path: /spec/template/spec/containers/0/args/-
              value: --feature-gates=CancelHealthCheckOnNewRevision=true
          target:
            kind: Deployment
            name: kustomize-controller
