---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-dns
spec:
  chartRef:
    kind: OCIRepository
    name: external-dns
  interval: 1h
  values:
    fullnameOverride: *app
    provider:
      name: pihole
    env:
    - name: EXTERNAL_DNS_PIHOLE_PASSWORD
      valueFrom:
        secretKeyRef:
          name: &secret pihole-dns-secret
          key: PIHOLE_PASSWORD
    extraArgs:
    - --pihole-server=http://192.168.1.11
    - --crd-source-apiversion=externaldns.k8s.io/v1alpha1
    - --crd-source-kind=DNSEndpoint
    - --gateway-name=envoy-internal
    triggerLoopOnEvent: true
    policy: sync
    sources:
    - crd
    - gateway-httproute
    - gateway-tcproute
    txtOwnerId: default
    txtPrefix: k8s.
    domainFilters:
    - timcasa.me
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
