---
connectivity:
  checker:
    target: 1.1.1.1:53
    interval: 1m

alerting:
  pushover:
    application-token: ${GATUS_PUSHOVER_TOKEN}
    default-alert:
      description: health-check failed
      failure-threshold: 3
      minimum-reminder-interval: 1h
      send-on-resolved: true
      success-threshold: 2
    priority: 1
    resolved-priority: 0
    title: Gatus
    user-key: ${GATUS_PUSHOVER_USER_KEY}

endpoints:
- name: Cloudflare
  group: connectivity
  url: icmp://1.1.1.1
  interval: 1m
  conditions:
  - "[CONNECTED] == true"

- name: Google
  group: connectivity
  url: icmp://8.8.8.8
  interval: 1m
  conditions:
  - "[CONNECTED] == true"

metrics: true

storage:
  type: sqlite
  caching: true
  path: ${GATUS_CONFIG_PATH}/gatus.db

ui:
  title: Status | Gatus
  header: Status
  logo: https://avatars.githubusercontent.com/u/213795
  link: https://github.com/spike442
  buttons:
  - name: Github
    link: https://github.com/spike442
  - name: Homelab
    link: https://github.com/spike442/homelab

web:
  port: ${GATUS_WEB_PORT}
