---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 1h
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: longhorn
    namespace: storage
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    longhornUI:
      replicas: 1
    defaultSettings:
      allowCollectingLonghornUsageMetrics: false
      defaultDataPath: /var/mnt/longhorn
      storageReservedPercentageForDefaultDisk: "30"
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: "1"
      guaranteedEngineManagerCPU: "12"
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "1"
    csi:
      attacherReplicaCount: 1
      provisionerReplicaCount: 1
      resizerReplicaCount: 1
      snapshotterReplicaCount: 1
    persistence:
      defaultDataLocality: best-effort
    ingress:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: true
